@(employee: Employee)

@main("Uppgifter om anställd") {
	<label>Anst&auml;llningsnummer:</label><label>@employee.employeeNumber</label><br>
	<label>F&ouml;rnamn:</label><label>@employee.firstName</label><br>
	<label>Efternamn:</label><label>@employee.lastName</label><br>
	<label>Adress:</label><label>@employee.address</label><br>
	<label>Postadress:</label><label>@employee.zipCode</label><br>
	<label>Postort:</label><label>@employee.city</label><br>
	<label>Telefon:</label><label>@employee.phone</label><br>
	<label>Mobiltelefon:</label><label>@employee.cellPhone</label><br>
	<label>Jobbtelefon:</label><label>@employee.jobPhone</label><br>
	<label>Epost:</label><label>@employee.email</label><br>
	<label>Personnummer:</label><label>@employee.civicRegNumber</label><br>
	
	<table class="table table-hover">
	<thead>
		<th>Start Datum</th>
		<th>Slutdatum</th>
		<th>Läkarintyg</th>
		<th>VAB</th>
		<th>Barnets personnummer</th>
	</thead>
	<tbody>
		@employee.sickDays.map { sickDay =>
			<tr>
				<td>
					@sickDay.startDate.format("yyyy MM dd")
				</td>
				<td>
					@sickDay.endDate.format("yyyy MM dd")
				</td>
				<td>
					@sickDay.doctorCert
				</td>
				<td>
					@sickDay.vab
				</td>
				<td>
					@sickDay.childCivicRegNumber
				</td>
			</tr>
		}
	</tbody>
	<table class="table table-hover">
	<a href="@routes.Employees.index" class="btn btn-default">Tillbaka</a>
}