@()
@main("Kontrollera sjukfrånvaro") {
	<form action="@routes.Employees.displayEmployee" method="GET" role="form">
		<div class="form-group">
			<label for="employeeNumber">Vilken anst&auml;lld vill du s&ouml;ka?</label>
			<input type="text" name="employeeNumber" id="employeeNumber" class="form-control">
		</div>
		
		<button type="submit" class="btn btn-default">S&ouml;k</button>
	</form>
	
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<a href="@routes.Sessions.logout" class="btn btn-default" role="botton"><span class="glyphicon glyphicon-off"></span> Logga ut</a>
		</div>
	</div>
}