@(message: String)

@main("Sjukappen") {
	<div class="row">
		<div class="col-md-6">
			<h2>Anm&auml;l sjukfr&aring;nvaro/VAB</h2>

			<form action="@routes.Sessions.loginSick" method="POST" role="form">
				<div class="form-group">
					<label for="username">Anst&auml;llningsnummer</label>
					<input type="text" name="username" id="username" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">L&ouml;senord</label>
					<input type="password" name="password" id="password" class="form-control">
				</div>
				
			    <button type="submit" class="btn btn-default">Logga in</button>
		    </form>
		</div>
		
		<div class="col-md-6">
			<h2>Kontrollera sjukfr&aring;nvaro</h2>
		    
		    <form action="@routes.Sessions.loginCheckEmployees" method="POST" role="form">
				<div class="form-group">
					<label for="username">Anst&auml;llningsnummer</label>
					<input type="text" name="username" id="usernameC" class="form-control">
				</div>
				
				<div class="form-group">
					<label for="password">L&ouml;senord</label>
					<input type="password" name="password" id="passwordC" class="form-control">
				</div>
				
				<button type="submit" class="btn btn-default">Logga in</button>
		    </form>
		</div>
	</div>
}
