@(sickTime: SickTime)
@main("Ange tid för sjukskrivningen") {
	<form action="@routes.SickDays.registerTime" method="POST" role="form">
		<div class="form-group @if(sickTime.errors.containsKey("startDate")) { has-error }">
			<label for="startDate">Sjukskriven fr&aring;n</label>
			<input type="text" name="startDate" id="startDate" class="form-control" value="@sickTime.startDate">
			@if(sickTime.errors.containsKey("startDate")) {
				<span class="help-block">@sickTime.errors.get("startDate")</span>
			}
		</div>
		<div class="form-group @if(sickTime.errors.containsKey("endDate")) { has-error }">
			<label for="endDate">Sjukskriven till</label>
			<input type="text" name="endDate" id="endDate" class="form-control" value="@sickTime.endDate">
			@if(sickTime.errors.containsKey("endDate")) {
				<span class="help-block">@sickTime.errors.get("endDate")</span>
			}
		</div>
		<button type="submit" class="btn btn-default">Registrera</button>
	</form>
	
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<a href="@routes.Sessions.logout" class="btn btn-default" role="botton"><span class="glyphicon glyphicon-off"></span> Logga ut</a>
		</div>
	</div>
}