
@()
@main("Sjukfrånvaro eller VAB") {
	<h1>Vill du anm&auml;la sjukfr&aring;nvaro eller v&aring;rd av barn?</h1>
	<form action="@routes.SickDays.sick" method="GET">
		<button type="submit" class="btn btn-default">Sjukfr&aring;nvaro</button>
	</form>
	<form action="@routes.SickDays.vab" method="GET">
		<button type="submit" class="btn btn-default">V&aring;rd av barn</button>
	</form>
	
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<a href="@routes.Sessions.logout" class="btn btn-default" role="botton"><span class="glyphicon glyphicon-off"></span> Logga ut</a>
		</div>
	</div>
}